<!DOCTYPE html>
<html>
<head>
  <title>App Reviews Feed</title>
</head>
<body>
  <% if @error %>
    <p><%= @error %></p>
  <% else %>
    <% @reviews.each do |review| %>
      <div>
        <h3>Author: <%= review[:author] %></h3>
        <p>Score: <%= review[:score] %></p>
        <p>Content: <%= review[:content] %></p>
        <p>Submitted At: <%= review[:submitted_at] %></p>
        <hr>
      </div>
    <% end %>
  <% end %>
</body>
</html>
